/* common css start */



.box {
    display: flex;

}

.common-button {
    background: #E5745D;
    width: 196px;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.common-button a {

    font-family: "Jost", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    position: relative;

}

.common-button a::after {
    width: 186px;
    height: 66px;
    border: 2px solid white;
    position: absolute;
    top: -20px;
    left: -48px;
    content: "";
}


.title h4 {
    font-size: 18px;
    color: #E5745D;
    font-weight: 600;
    font-family: "Vollkorn", system-ui;
    text-align: center;
    padding-bottom: 11px;
    position: relative;

}

.title h4::after {
    position: absolute;
    top: 6px;
    left: 41%;
    width: 40px;
    height: 3px;
    background: #E5745D;
    content: "";
}

.title h4::before {
    position: absolute;
    top: 0px;
    left: 44%;
    width: 15px;
    height: 15px;
    background: #E5745D;
    border-radius: 50%;
    content: "";
}

.title h2 {
    font-size: 50px;
    color: #00413D;
    font-weight: 600;
    font-family: "Vollkorn", system-ui;
    width: 517px;
    margin: 0 auto;
    text-align: center;

}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* common css end */



/* Navber part Start */
.navbar-nav {
    column-gap: 50px;
}

.nav-link {
    color: #00413D;
    font-family: "Jost", sans-serif;
    font-size: 18px;
    font-weight: 400;
    transition: .4s;
    padding-right: 0px !important;
    padding-left: 0px !important;

}

.nav-link:hover {
    color: #E5745D;
}

.menu_button a::after {
    width: 186px;
    height: 66px;
    border: 2px solid white;
    position: absolute;
    top: 6px;
    left: 5px;
    content: "";
}

.navbar {
    padding: 30px 0px;
}

.menu_button a {
    background: #E5745D;
    padding: 26px 44px;
    font-family: "Jost", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    position: relative;
}

/* Navber part end */
/* Banner part staert */

.banner {
    background: #00413D;
    width: 100%;
    padding-top: 220px;
    padding-bottom: 190px;
    position: relative;
    overflow: hidden;

}

.banner .overly {
    width: 50%;
    height: 100%;
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: -50%;
    transition: .7s;
}

.banner:hover .overly {
    right: 0;

}

.banner h1 {
    font-family: "Vollkorn", serif;
    font-size: 100px;
    font-weight: 700;
    color: #fff;
    line-height: 110px;

}

.banner h1 span {
    display: block;

}

.banner p {
    font-family: "Jost", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    width: 690px;
    padding-top: 14px;
    padding-bottom: 50px;
    line-height: 30px;

}

.banner p span {
    font-weight: 700;
    color: #fff;

}

/* Banner part end */
/* service part start */
.service {
    padding-top: 220px;
    padding-bottom: 120px;
}

.service .card {
    padding-top: 50px;
    padding-left: 35px;
    padding-bottom: 50px;
    width: 100% !important;
    border: 0px;
    -webkit-box-shadow: 0px 0px 37px -18px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 37px -18px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 37px -18px rgba(0, 0, 0, 0.75);
}

.service .card img {
    width: 20%;
    color: red;
}

.service .card .card-body {
    padding: 0px;

}

.service .card .card-title {
    font-size: 24;
    font-weight: 800;
    color: #00413D;
    font-family: "Vollkorn", system-ui;
    padding-top: 26px;
}

.service .card .card-text {
    font-size: 16px;
    font-weight: 400;
    color: #00413D;
    font-family: "Jost", sans-serif;
    padding-top: 15px;
    width: 245px;
}




/* service part end */
/* about part start */
.about .box {
    column-gap: 20px;
}

.twoImage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about .title h4 {

    text-align: left;
    margin-left: 80px;

}

.about .title h4::after {

    left: -74px;

}

.about .title h4::before {

    left: -35px;

}

.about .title h2 {

    width: auto;

    text-align: left;
}

.about .right p {
    font-size: 16px;
    font-weight: 400;
    color: #00413D;
    font-family: "Jost", sans-serif;
    width: 570px;

}

/* about part end */
/* progresber part start */

.main_box {
    width: 100%;
    height: 282px;
    background: white;
    -webkit-box-shadow: 0px 0px 23px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 23px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 23px -14px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 24px;
    margin-top: 170px;
    margin-bottom: 122px;


}

.pain_box {
    width: 167px;
    height: 167px;
    border: 8px solid #E5745D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pain_box h3 {
    color: #E5745D;
    font-size: 34px;
    font-weight: 600;
    font-family: "Vollkorn", system-ui;
}

/* progresber part end */
/* Prject part start */

.project {
    padding: 60px 0px;

}

.project .title h4 {
    padding-left: 80px;

    text-align: left;

}

.project .title h2 {

    margin: 0;
    text-align: left;
}

.project .title h4::before {

    left: 32px;

}

.project .title h4::after {

    left: 0%;

}

.project .box {
    justify-content: space-between;
}

.project .icon ul {
    display: flex;
}

.project .icon ul li {
    margin: 10px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: black;
    transition: .4s;
}

.project .icon ul li:hover {
    background: #E5745D;
    color: white;
    border: transparent;

}

.project .card {
    margin-top: 40px;
    border: 0px;
    width: 100% !important;
    -webkit-box-shadow: 0px 0px 23px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 23px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 23px -14px rgba(0, 0, 0, 0.75);
}

.project .card .card-title {
    font-size: 16px;
    color: #E5745D;
    font-weight: 500;
    font-family: "Vollkorn", system-ui;
}

.project .card .card-text {
    font-size: 24px;
    color: #00413D;
    font-weight: 600;
    font-family: "Vollkorn", system-ui;
    width: 310px;
}

.project .card .card-text-2 {
    font-size: 16px;
    color: #00413D;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    width: 289px;
}

.project .card_box {
    display: flex;
    column-gap: 20px;
    align-items: center;


}

.project .card_box a {
    font-size: 18px;
    color: #00413D;
    font-weight: 600;
    font-family: "Jost", sans-serif;
    transition: .4s;

}

.project .card .card_box .icon {
    transition: .4s;
}

.project .card:hover .card_box a {
    color: #E5745D;

}

.project .card:hover .card_box .icon {
    color: #E5745D;

}

/* Prject part end */
/* portfolio part start */

.portfolio ul {
    display: flex;
    column-gap: 35px;
    justify-content: center;

    color: #00413D;
    font-size: 16px;
    font-weight: 400;
    font-family: "Vollkorn", system-ui;
    padding-top: 24px;
    padding-bottom: 44px;

}

.portfolio .card {

    width: 100% !important;
    background: #C4C4C4;
    border: 0;
    position: relative;
    transition: .4s;



}

.portfolio .card .card-body {
    margin-top: 420px;
    background: #00413D;

}

.portfolio .card .card-body .card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    font-family: "Vollkorn", system-ui;

}

.portfolio .card .card-body .card-text {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Jost", sans-serif;

}

.portfolio .badge {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: white;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 30px;
    top: 30px;
    transition: .4s;
    opacity: 0;
}

.portfolio .badge i {
    color: #E5745D;
    font-size: 20px;
}

.portfolio .card:hover {
    background: rgba(0, 65, 61, 0.4);

}

.portfolio .card:hover .badge {
    opacity: 1;

}


/* portfolio part end */
/* test part start */

.test {
    padding: 100px 0px;
    margin: 100px 0px;
    background: #F9F4F1;
   
    
}

.test .item {
    width: 100%;
    
    background: white;
    border-top: 8px solid #E5745D;
    padding: 30px 40px;
    position: relative;
    z-index: 2;
    -webkit-box-shadow: 0px 6px 13px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 13px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 13px -7px rgba(0, 0, 0, 0.75);
    

}
.test .item p{
    color: #00413D;
    font-size: 16px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    width: 446px;
    

}
.test .test-box{
    position: relative;
}

.test .textImage1 {
    position: absolute;
    bottom: -34px;
    left: 117px;
    z-index: 1;
}
.test .box{
    padding: 30px 60px;
    align-items: center;
    column-gap: 30px;
}
.test .box ul{
    display: flex;
    column-gap: 5px;
    color: #FF9F3F;
}
/* test part end */